/*dario_pfolio_styles.css*/
/* back ground image for h1*/
.bgimageh1 {
    background-image: url(https://images.pond5.com/sound-waves-frequency-futuristic-look-footage-159354179_iconl.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    /*height: 100px;*/
    /*margin: 20px;*/
    padding: 5px;
}

/* style for hero header*/
h1 {
    text-align: center;
    color: ghostwhite;
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: -10px;
}

/* styles for <p> with class="helloheader" */
.helloheader {
    text-justify: auto;
    text-align: center;
    color: gainsboro;
    font-size: 25px;
    /*margin-bottom: -10px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*about me styling*/
.bgimage-about {
    background-image: url(https://images.pond5.com/sound-waves-frequency-futuristic-look-footage-159354179_iconl.jpeg);
    background-size: 5px 10px;
    background-position:center;
    background-color:midnightblue;
    /*background-size:initial;*/
    /*background-position: center;*/
    position: static;
    padding-bottom: 0.5px;
}

.about-title, .skills-title {
    text-align: center;
    color:ghostwhite;
    font-size: 40px;
    margin-bottom: -5px;
}

/* paragraph in about styles*/
.about-pg, .skills-pg, .contact-pg {
    
    text-align: center;
    color: gainsboro;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*white-space: pre; si digo que se comporte como un pre el texto se desborda ¿como lo arreglo?*/
}

/* styles for the div in section class="bgimage-about"*/
.bgimage-about div {
    /*overflow: auto;*/
    /*height:  100%;*/
    flex-direction: column;
    display: flex;
}

/*styles for the form*/
.input-name{
    margin: 1px;
}
.input-email{margin: 1px;}
.input-subject{margin: 1px;}
.input-message{margin: 1px;}
.submit-button{margin:1px;}

/*-- style for the unordered list with class="navigation"*/
.navigation {
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
}

a {
color: darkgrey;
font-size: 20px;
text-align: center;
}

a:hover {
    color: silver;
}

a:active {
    color: lemonchiffon;
}

a:visited {
    color: lightgrey;
}

footer {
    margin-top: 25%;
    text-align: center;
}

/* styles for the list of links with class="nav-link"*/
.nav-link {
    display: inline-block;
    margin: -25% 20px;
    text-align: center;
}

/* applies for both links nav-menu and nav-fteer*/
.bgimage-nav {
    background-color: black;
    background-position: center;
    position: relative;
    /*height: 100px;*/
    /*margin: 20px;*/
    padding: 0.5px;
}

/* styles for the list of links with class="nav-fteer"*/
.nav-fteer {
        display: inline-block;
        margin: 0 20px;
        /*margin-top: 25%;*/
        text-align: center;
}
